
        <section class="biz">
      <div class=" container text-center">
        <h3>About Us</h3>
        <p>As “A La Turca” olive oil, we are founded in 2019. The brand name comes from its origin; Turkey.
How we differentiate ourselves is taking the quality olive and producing quality olive oil. There’s a huge amount of olive oil production around the world, but quality is not always the case.
The reason why we chose Colombian market is because the it’s radical, and the awareness towards olive oil is low. Our aim is to increase this awareness and spread good quality olive oil across the country. Also, with beloved Turkish culture in Colombia offers an advocacy in products too.
A La Turca is a determined product that aims a development by leaping forward in export.
Vision
To spread good quality olive oil mixed with an experience of authentic Turkish culture.
Mission
Maximizing the level of quality products that Latin America desires.</p>
      </div>

    </section>


<section class="mb-4 container borderust">
<!--Section heading-->
<h3 class="h1-responsive font-weight-bold text-center my-4">Contact us</h3>
<!--Section description-->
<p class="text-center w-responsive mx-auto mb-5"><p>Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
a matter of hours to help you.</p>
<div class="row">
<!--Grid column-->
<div class="col-md-9 mb-md-0 mb-5">
<form id="contact-form" name="contact-form" action="https://formspree.io/info@alaturcaolives.com" method="POST">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-6">
      <div class="md-form mb-0">
        <input type="text" id="name" name="name" placeholder="Name" class="form-control">
        <label for="name" class=""></label>
      </div>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-md-6">
      <div class="md-form mb-0">
        <input type="text" id="email" placeholder="E-mail" name="email" class="form-control">
        <label for="email" class=""></label>
      </div>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
  <!--Grid row-->
  <div class="row">
    <div class="col-md-12">
      <div class="md-form mb-0">
        <input type="text" id="subject" placeholder="Subject" name="subject" class="form-control">
        <label for="subject" class=""></label>
      </div>
    </div>
  </div>
  <!--Grid row-->
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12">
      <div class="md-form">
        <textarea type="text" id="message" placeholder="Message" name="message" rows="2" class="form-control md-textarea"></textarea>
        <label for="message"></label>
      </div>
    </div>
  </div>
  <!--Grid row-->
</form>
<div class="text-center text-md-left">
  <a class="btn btn-secondary btn-lg" onclick="document.getElementById('contact-form').submit();">Send</a>
</div>
<div class="status"></div>
</div>
<!--Grid column-->
<!--Grid column-->
<div class="col-md-3 text-center">
<ul class="list-unstyled mb-0">
  <li><i class="fas fa-map-marker-alt fa-2x"></i><br>
    Tabiat sok. Kargın Iş Merkezi No:14/4 Atasehir/Istanbul
  </li>
  <li><i class="fas fa-phone mt-4 fa-2x"></i><br>
     +90 533 136 8436 <br>
    +51 950 385 767 <br>
    0(216)572 80 60
  </li>
  <li><i class="fas fa-envelope mt-4 fa-2x"></i><br>
    info@alaturcaolives.com
  </li>
</ul>
</div>
</div>
</section>
