<h3 class="text-center" style="padding: 2rem 0;">The Tale Of The Two Beauties</h3>
<section class="products text-center  container">
  <!--    <h1>A LÂ TURCA OIL</h1> -->
  <div class="grid2">
    <div class="urun-bilgi">
      <h3>Olive</h3>
      <p>
        Having completed its first settlement in
        South-eastern Anatolia, the olive has extended to
        Western Anatolia and then to the Mediterranean
        countries via the Aegean islands.
        From North Africa through Sicily, moving along the
        Syrian and Egyptian it spreaded with all its beauty
        to Mediterrenean shores.
        Finally spreaded to South and North America.
      </p>
    </div>
    <div class="urun-bilgi">
      <h3>Olive Oil</h3>
      <p>
        A greenish-yellowish oil obtained from the fruits of
        the olive tree. In mythology and botany, it is
        produced from the fruits of the immortal olive tree.
        It is best known for with is non-chemical process.
        It is the only oil that can be produced from the fruit
        itself. Fresh, high-quality olive oils contain more nutrients
        and will provide far more of the famous health benefits liquid gold is known for.
      </p>
    </div>
  </div>
</section>
<section class="colombia">
  <div class="center ">
    <!--  <div class="colombia-pic"style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./images/colombia.png);  "> -->
    <div class="colombia-text">
      <div class="parallax-window" data-parallax="scroll" data-image-src="../assets/images/colombia.png">          <!--   <p>Always prefer to be radical and enter radical markets such as Colombian market.</p> -->
    </div>
  </div>
</div>
</div>
</section>
<section class="products text-center container">
<!--    <h1>A LÂ TURCA OIL</h1> -->
<div class="grid21">
<div class="urun-bilgi">
  <h3>A LÂ TURCA OLIVE</h3>
  <p>
    There is a significant amount of olive oil production all around the world. However only a limited percentage of consumers are aware of an exclusive olive oil.
    Rather production method of common manufacturers, we crush these high quality olives immediately after collecting. This method allows us to have a special taste of olive oil with an unique golden color.
    We are sharing this special taste with our consumers by packing in 5 different bottle sizes
    250 ml/500 ml/750ml/1000ml/5000ml
  </p>
</div>
<div class="card-pic">
  <img src="assets/images/boktanimza.png" alt="">
  <!-- <img src="assets/images/oilbottle2.png" alt=""> -->
  </i>
</div>
</div>
</section>
<section class="services  text-center">
<div class="container grid1 ">
<div id="wrapper" class="borderalt">
  <!-- Slideshow 1 -->
  <h3>Our olive oil production process</h3>
  <div class="rslides_container">
    <ul class="rslides" id="slider1">
      <li><img src="assets/images/sl1.png" alt="1"></li>
      <li><img src="assets/images/sl2.png" alt="2"></li>
      <li><img src="assets/images/sl3.png" alt="3"></li>
      <li><img src="assets/images/sl4.png" alt="3"></li>

    </ul>
  </div>
</div>
<!-- <img src="assets/images/iletisim.png" alt=""> -->
<br><br>
<h1 >Olive Oil Market In Turkey </h1>
<h3>825.830  </h3>
<h4><strong>Hectares of land</strong></h4>
<h3>190.000</h3>
<h4><strong>Tons  of olive oil are produced every year</strong></h4>
<h3>10%</h3>
<h4><strong>Turkey’s percentage around the world in olive oil</strong></h4>
<h3>171,526,124</h3>
<h4><strong>Olive trees in Turkey </strong></h4>
</div>
</div>
</section>
<!--Section: Contact v.2-->
<section class="mb-4 container borderust">
<!--Section heading-->
<h3 class="h1-responsive font-weight-bold text-center my-4">Contact us</h3>
<!--Section description-->
<p class="text-center w-responsive mx-auto mb-5"><p>Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
a matter of hours to help you.</p>
<div class="row">
<!--Grid column-->
<div class="col-md-9 mb-md-0 mb-5">
<form id="contact-form" name="contact-form" action="https://formspree.io/info@alaturcaolives.com" method="POST">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-6">
      <div class="md-form mb-0">
        <input type="text" id="name" name="name" placeholder="Name" class="form-control">
        <label for="name" class=""></label>
      </div>
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-md-6">
      <div class="md-form mb-0">
        <input type="text" id="email" placeholder="E-mail" name="email" class="form-control">
        <label for="email" class=""></label>
      </div>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
  <!--Grid row-->
  <div class="row">
    <div class="col-md-12">
      <div class="md-form mb-0">
        <input type="text" id="subject" placeholder="Subject" name="subject" class="form-control">
        <label for="subject" class=""></label>
      </div>
    </div>
  </div>
  <!--Grid row-->
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-12">
      <div class="md-form">
        <textarea type="text" id="message" placeholder="Message" name="message" rows="2" class="form-control md-textarea"></textarea>
        <label for="message"></label>
      </div>
    </div>
  </div>
  <!--Grid row-->
</form>
<div class="text-center text-md-left">
  <a class="btn btn-secondary btn-lg" onclick="document.getElementById('contact-form').submit();">Send</a>
</div>
<div class="status"></div>
</div>
<!--Grid column-->
<!--Grid column-->
<div class="col-md-3 text-center">
<ul class="list-unstyled mb-0">
  <li><i class="fas fa-map-marker-alt fa-2x"></i><br>
    Tabiat sok. Kargın Iş Merkezi No:14/4 Atasehir/Istanbul
  </li>
  <li><i class="fas fa-phone mt-4 fa-2x"></i><br>
    +90 533 136 8436
  </li>
  <li><i class="fas fa-envelope mt-4 fa-2x"></i><br>
    info@alaturcaolives.com
  </li>
</ul>
</div>
</div>
</section>
