<section class="products text-center container">
<!--    <h1>A LÂ TURCA OIL</h1> -->
<div class="grid21">
<div class="urun-bilgi">
  <h3>A LÂ TURCA OLIVE</h3>
  <p>
    There is a significant amount of olive oil production all around the world. However only a limited percentage of consumers are aware of an exclusive olive oil.
    Rather production method of common manufacturers, we crush these high quality olives immediately after collecting. This method allows us to have a special taste of olive oil with an unique golden color.
    We are sharing this special taste with our consumers by packing in 5 different bottle sizes <br>
    250 ml/500 ml/750ml/1000ml/5000ml
  </p>
</div>
<div class="card-pic">
  <img src="assets/images/boktanimza.png" alt="">
  <!-- <img src="assets/images/oilbottle2.png" alt=""> -->
  </i>
</div>
</div>
</section>
<section class="services  text-center ">
<div class="container grid1 ">
<div id="wrapper" class="borderalt">
  <!-- Slideshow 1 -->
  <h3>Our Olive Oil Production Process</h3>
  <div class="rslides_container">
    <ul class="rslides" id="slider1">
      <li><img src="assets/images/sl5.png" alt="5"></li>


    </ul>
  </div>
</div>
</div>
</section>
